<div class="panel-content incidencia-create">

  <div class="container">

    <div class="panel-block">

      <!-- HEADER -->
      <div class="filters-row">

        <button id="btn-back">
          ← Volver
        </button>

        <div style="margin-left:10px;">
          <div class="page-subtitle">Cuéntanos qué problema estás teniendo</div>
        </div>

      </div>

      <!-- FORM -->
      <div class="form-wrapper">

        <div class="form-grid">

          <!-- TÍTULO -->
          <input 
            type="text"
            id="inc-title"
            placeholder="Asunto: - Ej: No puedo acceder a mi cuenta"
          >

          <!-- MENSAJE -->
          <textarea 
            id="inc-message"
            placeholder="Explícanos el problema con detalle..."
            rows="5"
          ></textarea>


          <!-- BOTÓN -->
          <div class="form-actions">
            <button id="btn-save-incidencia">
              Enviar incidencia
            </button>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>
